{# Octoprint plugin name: Swapper3D, File: Swapper3D_settings.jinja2, Author: BigBrain3D, License: AGPLv3 #}

<style>
.flex-layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.flex-layout label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}
.flex-layout input, .flex-layout select, .flex-layout textarea {
    flex: 2;
}
</style>

<div class="control-group">
    <h4>Print head Swap location</h4>
    <div class="flex-layout">
        <label for="xPos">X axis position:</label>
        <input type="number" id="xPos" title="Should be approx 250" data-bind="value: settings.plugins.Swapper3D.xPos" placeholder="Default: 250">
    </div>
    
    <div class="flex-layout">
        <label for="yPos">Y axis position:</label>
        <input type="number" id="yPos" title="Default: 0.5" data-bind="value: settings.plugins.Swapper3D.yPos" placeholder="Default: 0.5">
    </div>
    
    <div class="flex-layout">
        <label for="zHeight">Minimum Z height:</label>
        <input type="number" id="zHeight" title="MMU:82, Palette:95" data-bind="value: settings.plugins.Swapper3D.zHeight" placeholder="MMU:82, Palette:95">
    </div>
    
    <h4>General</h4>
	<div class="flex-layout">
        <label for="Stock extruder Max feedrate(M203 mm/s)">Stock extruder Max feedrate(M203 mm/s):</label>
        <input type="number" id="StockExtruderMaxFeedrate" title="Default: 120.0" data-bind="value: settings.plugins.Swapper3D.StockExtruderMaxFeedrate" placeholder="Default: 120.0">
    </div>
	
	<div class="flex-layout">
        <label for="Swap extruder Max feedrate(M203 mm/s)">Swap extruder Max feedrate(M203 mm/s):</label>
        <input type="number" id="SwapExtruderMaxFeedrate" title="Default: 500.0" data-bind="value: settings.plugins.Swapper3D.SwapExtruderMaxFeedrate" placeholder="Default: 500.0">
    </div>
    
	<div class="flex-layout">
        <label for="Stock extruder Max acceleration - normal(M201 mm/s2)">Stock extruder Max acceleration - normal(M201 mm/s2):</label>
        <input type="number" id="StockExtruderMaxAcceleration" title="Default: 5000" data-bind="value: settings.plugins.Swapper3D.StockExtruderMaxAcceleration" placeholder="Default: 5000">
    </div>
	
	<div class="flex-layout">
        <label for="Swap extruder Max acceleration - normal(M201 mm/s2)">Swap extruder Max acceleration - normal(M201 mm/s2):</label>
        <input type="number" id="SwapExtruderMaxAcceleration" title="Default: 25000" data-bind="value: settings.plugins.Swapper3D.SwapExtruderMaxAcceleration" placeholder="Default: 25000">
    </div>
	
    <div class="flex-layout">
        <label for="zMotorCurrent">Z Motor Current(ma):</label>
        <input type="number" id="zMotorCurrent" title="Default: 900" data-bind="value: settings.plugins.Swapper3D.zMotorCurrent" placeholder="Default: 900">
    </div>
    
    <div class="flex-layout">
        <label for="extrudeSpeedPulldown">Extrude speed(mm/min) for pulldown:</label>
        <input type="number" id="extrudeSpeedPulldown" title="Default: 12000" data-bind="value: settings.plugins.Swapper3D.extrudeSpeedPulldown" placeholder="Default: 12000">
    </div>    
    
    <div class="flex-layout">
        <label for="retractSpeed">Extrude speed(mm/min) for pulldown:</label>
        <input type="number" id="retractSpeed" title="Default: 12000" data-bind="value: settings.plugins.Swapper3D.retractSpeed" placeholder="Default: 12000">
    </div>   
	
    <div class="flex-layout">
        <label for="extrudeLengthLockingHeight">Extrude length for locking height:</label>
        <input type="number" id="extrudeLengthLockingHeight" title="Default: 18.2" data-bind="value: settings.plugins.Swapper3D.extrudeLengthLockingHeight" placeholder="Default: 18.2">
    </div>

    <div class="flex-layout">
        <label for="extrudeLengthCuttingHeight">Extrude length for cutting height:</label>
        <input type="number" id="extrudeLengthCuttingHeight" title="Default: 39.8" data-bind="value: settings.plugins.Swapper3D.extrudeLengthCuttingHeight" placeholder="Default: 39.8">
    </div>

    <div class="flex-layout">
        <label for="retractLengthAfterCut">Retract length after cut (mm):</label>
        <input type="number" id="retractLengthAfterCut" title="Default: -70" data-bind="value: settings.plugins.Swapper3D.retractLengthAfterCut" placeholder="Default: -70.0">
    </div>

    <div class="flex-layout">
        <label for="msDelayAfterExtrude">ms of delay after sending the extrude command to printer:</label>
        <input type="number" id="msDelayAfterExtrude" title="Default: 115" data-bind="value: settings.plugins.Swapper3D.msDelayAfterExtrude" placeholder="Default: 115">
    </div>

    <div class="flex-layout">
        <label for="msDelayPerDegreeMovedDuringSwapPulldown">ms of delay per degree moved during pulldowns:</label>
        <input type="number" id="msDelayPerDegreeMovedDuringSwapPulldown" title="Default: 6" data-bind="value: settings.plugins.Swapper3D.msDelayPerDegreeMovedDuringSwapPulldown" placeholder="Default: 6">
    </div>

    <div class="flex-layout">
        <label for="NozzleWipe">Nozzle wipe procedure (on/off):</label>
        <label class="switch">
            <input type="checkbox" id="NozzleWipe" title="Default: On" data-bind="checked: settings.plugins.Swapper3D.NozzleWipe">
            <span class="slider round"></span>
        </label>
    </div>
	
	
    <h4>Palette</h4>
    <div class="flex-layout">
        <label for="extrudeSpeedPaletteCuts">Extrude speed for palette cuts (mm/min):</label>
        <input type="number" id="extrudeSpeedPaletteCuts" title="Default: 18000" data-bind="value: settings.plugins.Swapper3D.extrudeSpeedPaletteCuts" placeholder="Default: 18000">
    </div>
	
    <div class="flex-layout">
        <label for="numPaletteCuts">Number of palette cuts:</label>
        <input type="number" id="numPaletteCuts" title="Default: 3" data-bind="value: settings.plugins.Swapper3D.numPaletteCuts" placeholder="Default: 3">
    </div>

    <div class="flex-layout">
        <label for="lengthAdditionalCut">Length of each additional cut (mm):</label>
        <input type="number" id="lengthAdditionalCut" title="Default: 15" data-bind="value: settings.plugins.Swapper3D.lengthAdditionalCut" placeholder="Default: 15">
    </div>

    <div class="flex-layout">
        <label for="delayAfterCut">Delay after each cut (ms):</label>
        <input type="number" id="delayAfterCut" title="Default: 100" data-bind="value: settings.plugins.Swapper3D.delayAfterCut" placeholder="Default: 100">
    </div>

    <div class="flex-layout">
        <label for="motorType">Motor type:</label>
        <select id="motorType" data-bind="value: settings.plugins.Swapper3D.motorType">
            <option value="standard">Standard</option>
            <option value="brushless">Brushless</option>
        </select>
    </div>
	
	<div class="flex-layout">
        <label for="filamentSwitcherType">Filament switcher type:</label>
        <select id="filamentSwitcherType" data-bind="value: settings.plugins.Swapper3D.filamentSwitcherType">
            <option value="MMU" selected>MMU</option>
            <option value="Palette">Palette</option>
            <option value="None">None</option>
        </select>
    </div>
</div>

<div class="control-group">
    <h4>Gcode Blocks</h4>

    <div class="flex-layout">
        <label for="beforeStartGcode">Before start Gcode:</label>
        <textarea id="beforeStartGcode" data-bind="value: settings.plugins.Swapper3D.beforeStartGcode"></textarea>
    </div>

    <div class="flex-layout">
        <label for="initialToolLoadGcode">Initial tool load Gcode:</label>
        <textarea id="initialToolLoadGcode" data-bind="value: settings.plugins.Swapper3D.initialToolLoadGcode"></textarea>
    </div>

    <div class="flex-layout">
        <label for="toolChangeGcode">Tool change Gcode:</label>
        <textarea id="toolChangeGcode" data-bind="value: settings.plugins.Swapper3D.toolChangeGcode"></textarea>
    </div>

    <div class="flex-layout">
        <label for="beforeEndGcode">Before end Gcode:</label>
        <textarea id="beforeEndGcode" data-bind="value: settings.plugins.Swapper3D.beforeEndGcode"></textarea>
    </div>
</div>

<div class="control-group">
    <h4>Statistics</h4>

    <div class="flex-layout">
        <label for="totalSwaps">Total Number of Swaps:</label>
        <input type="number" id="totalSwaps" data-bind="value: settings.plugins.Swapper3D.totalSwaps">
    </div>

    <div class="flex-layout">
        <label for="actuations">Actuations:</label>
        <input type="number" id="actuations" data-bind="value: settings.plugins.Swapper3D.actuations">
    </div>

    <div class="flex-layout">
        <label for="tr">TR:</label>
        <input type="number" id="tr" data-bind="value: settings.plugins.Swapper3D.tr">
    </div>

    <div class="flex-layout">
        <label for="th">TH:</label>
        <input type="number" id="th" data-bind="value: settings.plugins.Swapper3D.th">
    </div>

    <div class="flex-layout">
        <label for="tl">TL:</label>
        <input type="number" id="tl" data-bind="value: settings.plugins.Swapper3D.tl">
    </div>

    <div class="flex-layout">
        <label for="ql">QL:</label>
        <input type="number" id="ql" data-bind="value: settings.plugins.Swapper3D.ql">
    </div>

    <div class="flex-layout">
        <label for="hr">HR:</label>
        <input type="number" id="hr" data-bind="value: settings.plugins.Swapper3D.hr">
    </div>

    <div class="flex-layout">
        <label for="cr">CR:</label>
        <input type="number" id="cr" data-bind="value: settings.plugins.Swapper3D.cr">
    </div>

    <div class="flex-layout">
        <label for="ca">CA:</label>
        <input type="number" id="ca" data-bind="value: settings.plugins.Swapper3D.ca">
    </div>

    <div class="flex-layout">
        <label for="wa">WA:</label>
        <input type="number" id="wa" data-bind="value: settings.plugins.Swapper3D.wa">
    </div>
</div>
