/*
 * View model for Swapper3D
 *
 * Author: BigBrain3D
 * License: AGPLv3
 */
 <div class="container" data-bind="visible: loginState.isUser()">
    <h3>Swapper3D Control</h3>
    <!-- Your UI elements go here -->
</div>
